<!DOCTYPE html>
<html>
    <head>
        <title>Flask app</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
    </head>
    <body>
        <div>
        <div class="upload-wrapper">
            <div class="container">
                <form action="/uploadfile" method="POST" enctype="multipart/form-data">
                        <p>Select CSV/JSON file to upload:</p>
                        <input type="file" name="file" id="file">
                        <input type="submit" value="Upload">Submit json</input>
                </form>
            </div>
        </div>
    </body>
</html>